
<script src="~/Scripts/jquery223.js"></script>
<script src="~/Scripts/jquery.sweet-modal.js"></script>
<link href="~/Scripts/jquery.sweet-modal.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $.sweetModal({
            content: '<h3>Oops! The Session has ended. Please Login Again</h3><br><p></p>',
            icon: $.sweetModal.ICON_SUCCESS,
            theme: $.sweetModal.THEME_DARK,
            onClose: function () {
                window.open("../../../../Home/Index", "_self");
            }
        });
    });
</script>