@model GRM.Models.tbl_Users
@{
    ViewBag.Title = "Forgot Password";

    // This condition handles the null throws.
    // iccheck ng system kung may laman ba ung Session ng userPosition bago nya irun ung condition
    // sa baba. If empty kase ang isang Session magkakaroon ng exception so dapat may laman muna.
    if (Session["userPosition"] != null)
    {
        //Perform a condition when the users is already logon.
        if (Session["userPosition"].ToString() == "client")
        {
            //Redirect to the Client page
            //   "  ../ " means up folder.
            Response.Redirect("../Client/");
        }
        else if (Session["userPosition"].ToString() == "admin")
        {
            Response.Redirect("../Admin/");
        }
        else if (Session["userPosition"].ToString() == "branchmanager")
        {
            Response.Redirect("../Admin/");
        }
        else if (Session["userPosition"].ToString() == "employee")
        {
            Response.Redirect("../Admin/");
        }

    }
}
<style>
    .validator {
        color: #EF4836;
    }
</style>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>GRM</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/bootstrap/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">

   <form class="form-signin">
        <img class="mb-4" src="~/Content/bootstrap/image/logo.png" alt="" width="210" height="210">
        <h1 class="h3 mb-3 font-weight-normal">Please enter your new password</h1>


       
     <input type="password" class="form-control" id="p1" />
       
       <input type="password" class="form-control" id="p2" />


     


        <p class="validator">@Html.DisplayFor(model => model.outputMessage)</p>

        <button id="submitPassword"  class="btn btn-lg btn-primary btn-block" >Submit</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
 </form>

</body>
</html>



<script src="~/Scripts/jquery223.js"></script>
<script src="~/Scripts/jquery.sweet-modal.js"></script>
<link href="~/Scripts/jquery.sweet-modal.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    $('#submitPassword').click(function () {
     
        var p1 = $('#p1').val();
        var p2 = $('#p2').val();


        $.ajax({
            type: "POST",
            url: "/Home/ChangePassword/",

            data: { pass1: p1, pass2: p2 },
            success: function (e) {

                
                if (e == "failed") {
                    $.sweetModal({
                        content: '<h3>Password Does\'nt Match</p>',
                        icon: $.sweetModal.ICON_WARNING,
                        theme: $.sweetModal.THEME_DARK
                    });
                } else {
                    $.sweetModal({
                        content: '<h3>Successfully Changed</p>',
                        icon: $.sweetModal.ICON_SUCCESS,
                        theme: $.sweetModal.THEME_DARK,
                        onClose: function () {
                            window.open("../../Home/Index", "_self");
                        }
                    });

                }
            }



        });
        return false;
    });
 
</script>