
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/adminMaster.cshtml";
}

<div style="margin-left:20%; width:50%; margin-top:3%">

    <div style="width:50%; margin-top:3%">
     


    </div>

    <script>

    tinymce.init({
        selector: 'textarea'

    });
    </script>




